.content {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px solid rgb(233, 228, 228);
}

.left_content {
  display: flex;
}

.content_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

.content_title {
  font-size: 1rem;
}

.content_desc {
  font-size: 0.8rem;
}

.right_content {
  display: flex;
  align-items: center;
}

.containerInfo {
  display: flex;
  width: 100%;
}

.wrappcontent {
  width: 65%;
  margin-right: 2rem;
}
