* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about {
  margin: 5rem 4rem;
  border-radius: 0.4rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px grey;
}

.about_title {
  border-bottom: 1px solid rgb(207, 205, 205);
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.wrapperbody {
  margin-top: 0.5rem;
}

.firstcol {
  border-right: 1px solid rgb(196, 194, 194);
}

a:hover {
  text-decoration: none;
  color: blue;
}
